*{
    padding: 0;
    margin: 0;
    font-size: medium;

}

html,boby{
    width: 100%;
    height: 100%;
}

#main{
    /* background-color: #00b4d8; */
    width: 1920px;
    height: 1080px;

}


/* Login box */
#LoginBoxMain{
    background-color: whitesmoke;
    height: 350px;
    width: 470px;
    border-radius: 20px;
    position: absolute;
    left: 32%;
    top: 150px;
    
    

}

.loginBox{
    width: 250px;
    height: 24px;
    outline: 0;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.loginButton{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin: 5px;
    border: 0;
    background-color: #00b4d8;
    color: #fff;
    
}
.loginButton:hover{
    background-color: #34c2dfe1;
    color: #000;
}

/* Register Box */
#RegisterBoxMain{
    background-color: whitesmoke;
    height: 700px;
    width: 470px;
    border-radius: 20px;
    position: absolute;
    left: 32%;
    top: 150px;

}

input{
    width: 250px;
    height: 24px;
    outline: 0;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}
#Gender{
    width: 260px;
    height: 24px;
    outline: 0;
    border: 0px;
    border-radius: 4px;
    background-color: #fff;
    padding: 3px;
    margin: 2px;
}
#Shift{
    width: 260px;
    height: 24px;
    outline: 0;
    border: 0px;
    border-radius: 4px;
    background-color: #fff;
    padding: 3px;
    margin: 2px;
}
.butA{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin: 5px;
    border: 0;
    background-color: #00b4d8;
    color: #fff;
    
}
.butA:hover{
    background-color: #34c2dfe1;
    color: #000;
}



