<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
    <link rel="stylesheet" href="/static/css/Prescription.css">
</head>

<body>
    <main>

        <div id="main">

            <div id="page">

                <div id="ha">
                    <h1>Dr. Md. Khairul Islam (Shimon)</h1>
                    <h4>MBBS, BCS (Health), FCPS (Medicine)</h4>
                    <h4>MRCP (UK-London)</h4>
                    <h4>Medicine, Diabetic & Rheumatology Specialist</h4>
                    <h2>Kushtia Medical College & Hospital, Kushtia</h2>
                </div>

                <hr>
                <span>Name:</span>
                <input type="text" name="name" placeholder="Name">
                <span id="age-span">Age:</span>
                <input type="text" name="age" placeholder="Age" id="age">
                <span id="date-span">Date:</span>
                <input type="date" name="date" id="date">
                <hr id="hr2">

                <div id="vr"></div>

                <div id="box">
                    <div id="left">

                        <div id="lbox">
                            <span class="l-span">COMPLAINTS</span>
                            <ul>
                                <li>LBP for 5 days</li>
                                <li>dysuria for 3 days</li>
                            </ul>
                            <span class="l-span">HISTORY</span>
                            <ul>
                                <li>Hypertension (HTN): No</li>
                                <li>Diabetes Mellitus (DM): Yes</li>
                            </ul>

                            <span class="l-span">FINDINGS</span>
                            <ul>
                                <li>BP: 160 / 100mmHg</li>
                                <li>Pulse: 90 bpm</li>

                            </ul>

                            <span class="l-span">INVESTIGATION</span>
                            <ul>
                                <li>Serum Creatinine</li>
                                <li>HbA1C</li>
                                <li>Urine: C/S</li>
                            </ul>

                            <span class="l-span">DIAGNOSIS</span>
                            <ul>
                                <li>DM</li>
                                <li>UTI</li>
                            </ul>

                            
                        </div>

                    </div>

                    <div id="right">

                        <div id="rbox">
                            <span id="Rx">Rx.</span>
                            <ol>
                                <li>TAB SECRIN 2mg</li>
                                <li>TAB GALVUS MET 50mg+850mg</li>
                                <li>CAP NINTOIN SR 100mg</li>
                                <li>TAB LINDAC 100mg</li>
                                <li>TAB VONOMAX 20mg</li>
                                <li>TAB CAMLODIN PLUS 5mg+50mg</li>
                              </ol>  
                        </div>

                        
                    </div>

                </div>


            </div>
        </div>

    </main>
</body>

</html>