{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block body %}
<div id="main">
    <div id="RegisterBoxMain">
        <form method="post" action="/Register/" >
            {% csrf_token %}

            <center>
                <br>
                <h1>Student Records Management System!</h1><br>
                <hr>
                <!-- ['id','Profile Image','Student ID','First Name','Last Name','Phone #','Email','Address','Date Update'] -->
                <input type="file" placeholder="Profile Image" name="image" id="Profile Image">
                <br>
                <input type="number" placeholder="Student ID" name="id" id="Student ID">
                <br>
                <input type="number" placeholder="Student Roll No." name="roll" id="Roll No">
                <br>
                <input type="text" placeholder="Student Class" name="class" id="Class">
                <br>
                <select name="shift" id="Shift">
                    <option value="1st Shift">1st Shift</option>
                    <option value="2nd Shift">2nd Shift</option>
                </select>
                <br>
                <input type="text" placeholder="Student's Name" name="sname" id="Student's Name">
                <br>
                <input type="text" placeholder="Father's Name" name="fname" id="Father's Name">
                <br>
                <input type="text" placeholder="Mother's Name" name="mname" id="Mother's Name">
                <br>
                <input type="number" placeholder="Mobile No." name="mobile" id="Mobile No">
                <br>
                <select name="gender" id="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <br>
                <input type="email" placeholder="Email" name="email" id="Email">
                <br>
                <input type="text" placeholder="Address" name="address" id="Address">
                
                <br><br>
                <button name="Add" value="add" class="butA" type="submit">Add</button>
                <button name="Edit" value="edit" class="butA" type="submit">Edit</button>
                <button name="Delete" value="delete" class="butA" type="submit">Delete</button>
                <button name="View" value="view" class="butA" type="submit">View</button>

            </form>
        </center>
    </div>

{% endblock body %}
